<script setup lang="ts">
import { ref } from "vue";
const message = ref("Hello World!");
const red= ref(true);
const color = ref("green");
function toggleRed() {
  red.value = !red.value;
}
function toggleColor() {
  color.value = color.value === "green" ? "blue" : "green";
}
</script>
<template>
  <p>
    <span :title="message">
      {{ message }}
      Hover yout moust over me for a few seconds to see my dynamically bound
      title!
    </span>
  </p>

  <p :class="{ red }" @click="toggleRed()">
    <span>This should be red... but click me to toggle it.</span>
  </p>

  <p :style="{ color }" @click="toggleColor()">
    <span>This should be red... but click me to toggle it.</span>
  </p>
</template>

<style>
.red {
  color: red;
}
</style>
