<script setup lang="ts">
import { ref } from "vue";
const message = ref("Hello World!");
function reverssMessage() {
  console.log(message.value.split("").reverse().join(""));
}
function notify() {
  alert("navigation was prevented.");
}
</script>

<template>
  <h1>Hello World!</h1>
  <button @click="reverssMessage">Reverse Message</button>
  <button @click="message += '!'">Append "!"</button>
  <a href="http://vuejs.org" @click.prevent="notify"
    >A link with e.preventDefault></a
  >
</template>

<style scoped>
button,
a {
  display: block;
  margin-bottom: 1em;
}
</style>
