<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExampleVue from "./components/HelloWorldExample.vue";
import HandlingUserInputVue from "./components/HandlingUserInput.vue";
import AttributBindingsVue from "./components/AttributBindings.vue";
import ConditionsAndLoopsVue from "./components/ConditionsAndLoops.vue";
import FormBindingsVue from "./components/FormBindings.vue";
import SimpleComponentVue from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponentVue></SimpleComponentVue>
    <br><br>
    <FormBindingsVue></FormBindingsVue>
    <br /><br />
    <ConditionsAndLoopsVue></ConditionsAndLoopsVue>
    <br />
    <br />
    <AttributBindingsVue></AttributBindingsVue>
    <HandlingUserInputVue></HandlingUserInputVue>
    <CalComponent></CalComponent>
    <HelloWorldExampleVue></HelloWorldExampleVue>
  </div>
</template>

<style scoped></style>
